#loginFrame {
    width: 30%;
    height: 500px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.input {
    width: 80%;
}

@media screen and (max-width: 720px) {
    #loginFrame, .input {
        width: 100%;
    }
}